extends general/layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.
      Приветствую вас в моем блоге 👏
      Возьмите себе чайку с печеньками и устраивайтесь поудобнее ☕
    section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          li.themes__item
            a.themes__item-link(href=`/articles/category/${category.id}`)
              | #{category.name}
              sup #{category.count}
    .main-page__section-flex
      section.main-page__hot.hot
        h2.hot__name
          | Самое обсуждаемое 
          span.hot__icon.hot__icon--fire
        ul.hot__list
          each article in hotArticles
            li.hot__list-item
              a.hot__list-link(href=`/articles/${article.id}`) #{article.announce} 
                sup.hot__link-sup #{article.commentsCount}
      section.main-page__last.last
        h2.last__name
          | Последние комментарии 
          span.last__icon.last__icon--cloud
        ul.last__list
          each comment in comments
            li.last__list-item
                img.last__list-image(src=`/media/img/${comment.users.avatar}` width='20' height='20' style='object-fit: cover' alt='Аватар пользователя')
                b.last__list-name #{comment.users.firstName} #{comment.users.lastName}
                a.last__list-link(href=`/articles/${comment.articleId}`) #{comment.message}
    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in allArticles
          if article.image !== null
            li(class="preview__item #{article.image ? `` : `preview__item--noimage`}")
              ul.preview__breadcrumbs(style="flex-wrap: wrap")
                each category in article.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href='#') #{category.name}
              .preview__background
                if article.image !== null
                img.preview__background-image(src=`/media/img/${article.image}` style='height: 100%' width='460' srcset=`/media/img/${article.image}, /media/img/${article.image}`)
              time.preview__time(datetime=moment(article.createDate, `YYYY-MM-DD`)) #{moment(article.createDate, `YYYY-MM-DD`).format(`DD.MM.YYYY, hh:mm`)}
              h3.preview__name
                a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
              p.preview__text #{article.announce}
              a.preview__comment(href='#')
                | Комментарии 
                span.preview__cloud
                |  
                b.preview__comment-count #{article.comments.length}
    .preview__toggle-wrapper
      +pagination(page, totalPages, 8)