extends general/layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.
      Приветствую вас в моем блоге 👏
      Налейте себе горячего чаю, возьмите печеньки и устраивайтесь поудобнее ☕
    section.main-page__theme-list
      include components/categories-list.pug
    .main-page__section-flex
      section.main-page__hot.hot
        h2.hot__name
          | Самое обсуждаемое 
          span.hot__icon.hot__icon--fire
        ul.hot__list
          each article in hotArticles
            li.hot__list-item
              a.hot__list-link(href=`/articles/${article.id}`) #{article.announce} 
                sup.hot__link-sup #{article.commentsCount}
      section.main-page__last.last
        h2.last__name
          | Последние комментарии 
          span.last__icon.last__icon--cloud
        ul.last__list
          each comment in comments
            li.last__list-item
                img.last__list-image(src=`/media/img/${comment.users.avatar}` width='20' height='20' style='object-fit: cover' alt='Аватар пользователя')
                b.last__list-name #{comment.users.firstName} #{comment.users.lastName}
                a.last__list-link(href=`/articles/${comment.articleId}`) #{comment.message}
    section.main-page__list.preview
      include components/articles-list.pug
    .preview__toggle-wrapper
      +pagination(page, totalPages, 8)