style.
  .server-error{
    border-radius: 10px;
    color: white;
    background-color: tomato;
    margin: 20px 0;
    padding: 10px;
  }

mixin pagination(page, totalPages, width)
  - let i = 0;
  ul.preview__pagination.pagination
    if totalPages > 1
      li
        a(class=`pagination__button button button--backwards ${page > 1 ? `` : `button--disabled`}` href=`?page=${page - 1}` aria-label='Страница назад') Назад
    while i++ < totalPages
      li(class=`pagination__item ${i === page ? `pagination__item--active` : ``}`)
        a(href=`?page=${i}`)= i
    if totalPages > 1
      li
        a(class=`pagination__button button button--forward ${page < totalPages ? `` : `button--disabled`}` href=`?page=${page + 1}` aria-label='Страница вперед') Вперёд


meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
meta(name='description' content='Личный блог Типотека')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
title Типотека
link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
link(rel='stylesheet' href='/css/style.min.css')
.wrapper
  include header.pug
  block content
  include footer.pug
  script(src='/js/vendor.js')
  script(src='/js/main.js')
