section.main-page__last.last
  h2.last__name
    | Последние комментарии 
    span.last__icon.last__icon--cloud
  ul.last__list
    if comments.length
      each comment in comments
        li.last__list-item
            img.last__list-image(src=`/media/img/${comment.users.avatar}` width='20' height='20' style='object-fit: cover' alt='Аватар пользователя')
            b.last__list-name #{comment.users.firstName} #{comment.users.lastName}
            a.last__list-link(href=`/articles/${comment.articleId}`) #{comment.message}
    else
      p.last__empty Здесь пока ничего нет...